{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<style>
  /* Task row status colors */
  .task-status-started td { background-color: #fff3cd !important; } /* orange-ish */
  .task-status-completed td { background-color: #d4edda !important; } /* green-ish */
  .task-status-notstarted td { background-color: #f8d7da !important; } /* red-ish */
</style>
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tareas</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Modelos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">



          <div class="card">
            <div class="card-header">

              <h3 class="card-title">Gestionar Tareas</h3>
              <div class="card-tools">
                <form id="task-filters" class="form-inline">
                  <div class="form-group mr-2">
                    <label class="mr-1">Inicio desde</label>
                    <input type="date" id="start_from" class="form-control form-control-sm" />
                  </div>
                  <div class="form-group mr-2">
                    <label class="mr-1">Inicio hasta</label>
                    <input type="date" id="start_to" class="form-control form-control-sm" />
                  </div>
                  <div class="form-group mr-2">
                    <label class="mr-1">Fin desde</label>
                    <input type="date" id="end_from" class="form-control form-control-sm" />
                  </div>
                  <div class="form-group mr-2">
                    <label class="mr-1">Fin hasta</label>
                    <input type="date" id="end_to" class="form-control form-control-sm" />
                  </div>
                  <button type="button" id="btn-filter-dates" class="btn btn-primary btn-sm mr-1">Filtrar</button>
                  <button type="button" id="btn-clear-filters" class="btn btn-secondary btn-sm">Limpiar</button>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="modal-body">

              <!-- </div>style="overflow: hidden;"> -->
              <table id="tabla-de-Datos" class="table table-bordered table-striped" style="width: 100%;">

              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- modal para crear/editar tarea -->
<div class="modal fade" id="modal-crear-task" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adicionar Tarea</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="form-create-task">
        <div class="card-body">

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="wbs">WBS</label>
              <input type="text" class="form-control" id="wbs" name="wbs" placeholder="WBS" required>
            </div>
            <div class="form-group col-sm-6">
              <label for="task_code">Código</label>
              <input type="text" class="form-control" id="task_code" name="task_code" placeholder="Código">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="task_name">Nombre de la tarea</label>
              <input type="text" class="form-control" id="task_name" name="task_name" placeholder="Nombre">
            </div>
            <div class="form-group col-sm-6">
              <label for="status_code">Estado</label>
              <input type="text" class="form-control" id="status_code" name="status_code" placeholder="Estado">
            </div>
          </div>

          <div class="form-group">
            <label for="resources">Recursos</label>
            <select class="form-control" id="resources" name="resources" multiple="multiple" style="width:100%" data-placeholder="Buscar o agregar recursos">
            </select>
            <small class="form-text text-muted">Escribe para buscar o agrega nuevos recursos separándolos con coma.</small>
          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label for="target_drtn_hr_cnt">Duración objetivo (hrs)</label>
              <input type="number" class="form-control" id="target_drtn_hr_cnt" name="target_drtn_hr_cnt">
            </div>
            <div class="form-group col-sm-4">
              <label for="remain_drtn_hr_cnt">Horas restantes</label>
              <input type="number" class="form-control" id="remain_drtn_hr_cnt" name="remain_drtn_hr_cnt">
            </div>
            <div class="form-group col-sm-4">
              <label for="total_float_hr_cnt">Total float (hrs)</label>
              <input type="number" class="form-control" id="total_float_hr_cnt" name="total_float_hr_cnt">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="start_date">Fecha inicio</label>
              <input type="datetime-local" class="form-control" id="start_date" name="start_date">
            </div>
            <div class="form-group col-sm-6">
              <label for="end_date">Fecha fin</label>
              <input type="datetime-local" class="form-control" id="end_date" name="end_date">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="target_cost">Costo objetivo</label>
              <input type="text" class="form-control" id="target_cost" name="target_cost">
            </div>
            <div class="form-group col-sm-6">
              <label for="delete_record_flag">Eliminar registro</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="delete_record_flag" name="delete_record_flag">
                <label class="form-check-label" for="delete_record_flag">Marcar como eliminado</label>
              </div>
            </div>
          </div>

        </div>

        <!-- /.card-body -->
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>

</div>

<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}
{% block script %} <!-- DataTables & Plugins -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
<script src="{% static 'assets/dist/js/axios.min.js' %}"></script>

<script src="{% static 'assets/dist/js-mine/task.js' %}"></script>
<script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Page specific script -->


{% endblock %}